
$mobile-break-point: 768px;
$color-primary: #15d4b1;

// https://chir.ag/projects/name-that-color/
$color-primary-blue: #394dee;
$color-primary-green: #03aba8;
$color-primary-orange: #f74e2c;
$color-primary-jade: #06b470;

$color-font-primary: #000;
$color-font-secondary: #777e90;

$color-bg-white: #fff;
$color-bg-gray: #e3e4ee;
$color-bg-light-gray: #f7f8fb;
